.container {
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

div > .panel {
    box-sizing: border-box;
    outline: 1px solid black;
}